<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
      <section name="ProviderSettings" type="DbProviderConfiguration.ProviderConfigSection,ProFrame" />
    </configSections>
  <ProviderSettings>
    <Providers>
      <ProviderElement enumName="OracleOdpNetUnmanaged" assemblyName="Oracle.DataAccess, Version=4.112.3.0" assemblyNameSpace="Oracle.DataAccess.Client" connectionClassName="OracleConnection" commandClassName="OracleCommand" transactionClassName="OracleTransaction" dataReaderClassName="OracleDataReader" dataAdapterClassName="OracleDataAdapter" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=ORACLE.UUAP.COM)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=ORA10)));POOLING=True;User Id={0};Password={1};Incr Pool Size=1; Decr Pool Size=1;Max Pool Size=4;" />
      <ProviderElement enumName="OracleOdpNetManaged" assemblyName="Oracle.ManagedDataAccess, Version=4.121.2.0" assemblyNameSpace="Oracle.ManagedDataAccess.Client" connectionClassName="OracleConnection" commandClassName="OracleCommand" transactionClassName="OracleTransaction" dataReaderClassName="OracleDataReader" dataAdapterClassName="OracleDataAdapter" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=ORACLE.UUAP.COM)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=ORA10)));POOLING=True;User Id={0};Password={1};Incr Pool Size=1; Decr Pool Size=1;Max Pool Size=4;" />
    </Providers>
  </ProviderSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
    <appSettings>
    </appSettings>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Xceed.Wpf.Toolkit" publicKeyToken="3e4669d2f30244f4" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-2.9.0.0" newVersion="2.9.0.0" />
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
</configuration>
